.containerx{
  margin:1rem;
  text-align: center;
  position:relative;
bottom:200px;

  }

.home-image{
    height:450px;
    max-height: 500px;
    height:600px;
    max-width: 700px;
    padding:0;


}




.slider {
    position:relative;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .image {
    width: 100%;
    border-radius: 10px;
    position:relative;

    
  }
  
 .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
 .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
   .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }



.recipesBTN{

  position:relative;
  top: 100;

}

img {
  /*  To contain the image to the confines of the div  */
  max-width: 100%;
  padding-top: 75px;
}

.img-gradient {

  max-width: 2000px; 
  width: 1600px;
  margin: auto;
  border-radius: 150px;
}

.img-gradient::after {

  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: -250px;
  height: 250px;
  width: 150%;
  content: '';
}

.dashed{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.words {
  margin: 100;
  width:500px;
  min-height: 25px;
  place-content: center;
  background: #ffffff;
  border-style: solid;
  border:10px;
  padding:0;

}
.homequote{
  font-size: 30px;
  color: #012c1098; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
  position:relative;
  bottom:70px
}
.holdlogo{
  position:relative;
  padding:0;
  bottom:100px;
  size:50px



 
}
.logo{
  height: 300px;
  width: 300px;
  position:relative;
  top:20px;
 
  
}

.imageslider{
  padding-top:0px;
}
.chef{
  height:500px;
  max-height:500px;
  width:1600px;
  max-width:2000px;
  position: relative;


  
}







button {
  --c:  #494949; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}



button {
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
  color: rgb(0, 0, 0);
  position:relative;
  bottom: 150px;
}

