* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    
}

body{
    margin:0;
    overflow-x:hidden;
    min-height:100vh;
   /* background-image: linear-gradient( 95.2deg, rgb(228, 255, 226) 50.8%, rgb(195, 195, 195) 94% )
   */
   background-color: linear-gradient( 95.2deg, rgb(228, 255, 226) 50.8%, rgb(195, 195, 195) 94% )

}

.container{
margin:1rem;
text-align: center;

}

.nav{

    background-color: #023623;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;



    
}



.site-title{
    font-size:2rem;
    color: #ffffff;
}
.nav ul{
    padding:0;
    margin: 0;
    list-style: none;
    display:flex;
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration:none;
    height: 100%;
    display: flex;
    align-items: center;
    padding:.25rem; 
}

.nav li.active{
    color:rgb(190, 255, 186)
}

.nav li:hover{
  color:rgb(190, 255, 186)
}
.home-image{
    height:45px;
    max-height: 50px;
    height:45px;
    max-width: 50px;

}